# Mediciones de contaminación de Madrid en el año 2018
Leer y tratar los datos

## 1. Lectura
Lectura de los datos alojados en formato csv en el directorio

In [1]:
from pathlib import Path
import pandas as pd


dirname = './anio201810'
 
paths = Path(dirname).glob('**/*.csv',)

dfs_list = [None]*12
for path in paths:
    df = pd.read_csv(path, sep=";")
    dfs_list[int(df["MES"].median())-1] = df

complete_df = pd.concat(dfs_list, axis=0, ignore_index=True)
complete_df

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
0,28,79,4,1,28079004_1_38,2018,1,1,1.00,V,...,2.00,V,1.00,V,1.00,V,1.00,V,1.00,V
1,28,79,4,1,28079004_1_38,2018,1,2,1.00,V,...,1.00,V,1.00,V,1.00,V,2.00,V,2.00,V
2,28,79,4,1,28079004_1_38,2018,1,3,1.00,V,...,2.00,V,2.00,V,2.00,V,3.00,V,2.00,V
3,28,79,4,1,28079004_1_38,2018,1,4,2.00,V,...,2.00,V,1.00,V,1.00,V,1.00,V,1.00,V
4,28,79,4,1,28079004_1_38,2018,1,5,1.00,V,...,2.00,V,2.00,V,2.00,V,1.00,V,2.00,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54826,28,79,60,14,28079060_14_6,2018,12,27,3.45,V,...,3.20,V,3.22,V,3.02,V,3.15,V,2.84,V
54827,28,79,60,14,28079060_14_6,2018,12,28,3.18,V,...,25.59,V,22.82,V,25.93,V,22.02,V,36.69,V
54828,28,79,60,14,28079060_14_6,2018,12,29,21.64,V,...,4.41,V,9.05,V,9.57,V,21.00,V,44.01,V
54829,28,79,60,14,28079060_14_6,2018,12,30,50.56,V,...,4.77,V,4.93,V,4.15,V,3.79,V,3.97,V
54830,28,79,60,14,28079060_14_6,2018,12,31,14.58,V,...,4.03,V,4.24,V,3.96,V,3.78,V,3.48,V

## 2. Limpieza de datos
Selección de datos referentes a NO2 y limpieza de columnas

In [2]:
no2_df = complete_df[complete_df["MAGNITUD"]==8]
no2_df

,PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,ANO,MES,DIA,H01,V01,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
93,28,79,4,8,28079004_8_8,2018,1,1,15.0,V,...,39.0,V,35.0,V,27.0,V,23.0,V,11.0,V
94,28,79,4,8,28079004_8_8,2018,1,2,13.0,V,...,38.0,V,41.0,V,47.0,V,55.0,V,47.0,V
95,28,79,4,8,28079004_8_8,2018,1,3,35.0,V,...,53.0,V,47.0,V,51.0,V,56.0,V,41.0,V
96,28,79,4,8,28079004_8_8,2018,1,4,35.0,V,...,42.0,V,36.0,V,35.0,V,34.0,V,28.0,V
97,28,79,4,8,28079004_8_8,2018,1,5,24.0,V,...,53.0,V,54.0,V,52.0,V,46.0,V,44.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54733,28,79,60,8,28079060_8_8,2018,12,27,79.0,V,...,75.0,V,90.0,V,86.0,V,67.0,V,48.0,V
54734,28,79,60,8,28079060_8_8,2018,12,28,58.0,V,...,38.0,V,38.0,V,35.0,V,36.0,V,18.0,V
54735,28,79,60,8,28079060_8_8,2018,12,29,30.0,V,...,67.0,V,59.0,V,56.0,V,42.0,V,16.0,V
54736,28,79,60,8,28079060_8_8,2018,12,30,10.0,V,...,94.0,V,92.0,V,74.0,V,87.0,V,74.0,V
54737,28,79,60,8,28079060_8_8,2018,12,31,46.0,V,...,94.0,V,98.0,V,99.0,V,109.0,V,78.0,V

In [3]:
no2_df = no2_df.drop(columns=["PROVINCIA", "MUNICIPIO", "PUNTO_MUESTREO"], axis=1)
no2_df

,ESTACION,MAGNITUD,ANO,MES,DIA,H01,V01,H02,V02,H03,...,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
93,4,8,2018,1,1,15.0,V,35.0,V,29.0,...,39.0,V,35.0,V,27.0,V,23.0,V,11.0,V
94,4,8,2018,1,2,13.0,V,17.0,V,6.0,...,38.0,V,41.0,V,47.0,V,55.0,V,47.0,V
95,4,8,2018,1,3,35.0,V,17.0,V,7.0,...,53.0,V,47.0,V,51.0,V,56.0,V,41.0,V
96,4,8,2018,1,4,35.0,V,34.0,V,11.0,...,42.0,V,36.0,V,35.0,V,34.0,V,28.0,V
97,4,8,2018,1,5,24.0,V,17.0,V,11.0,...,53.0,V,54.0,V,52.0,V,46.0,V,44.0,V
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54733,60,8,2018,12,27,79.0,V,56.0,V,41.0,...,75.0,V,90.0,V,86.0,V,67.0,V,48.0,V
54734,60,8,2018,12,28,58.0,V,56.0,V,43.0,...,38.0,V,38.0,V,35.0,V,36.0,V,18.0,V
54735,60,8,2018,12,29,30.0,V,20.0,V,18.0,...,67.0,V,59.0,V,56.0,V,42.0,V,16.0,V
54736,60,8,2018,12,30,10.0,V,10.0,V,6.0,...,94.0,V,92.0,V,74.0,V,87.0,V,74.0,V
54737,60,8,2018,12,31,46.0,V,31.0,V,27.0,...,94.0,V,98.0,V,99.0,V,109.0,V,78.0,V

## 3. Tratamiento de datos
De cara a poder hacer un análisis mejor de los datos facilitados es mejor tener dispuestos los valores de las columnas H01...H24 en una sola, de la misma manera que las columnas V01...V24.

In [4]:
h_columns = [f"H{i:02d}" for i in range(1,25)]
v_columns = [f"V{i:02d}" for i in range(1,25)]

#melt df by HXX values
df_no2_hmelted = no2_df.melt(id_vars=["ESTACION","MES","DIA"], value_vars=h_columns, var_name='HORA', value_name='MEDICION')
df_no2_hmelted

        ESTACION  MES  DIA HORA  MEDICION
0              4    1    1  H01      15.0
1              4    1    2  H01      13.0
2              4    1    3  H01      35.0
3              4    1    4  H01      35.0
4              4    1    5  H01      24.0
...          ...  ...  ...  ...       ...
209995        60   12   27  H24      48.0
209996        60   12   28  H24      18.0
209997        60   12   29  H24      16.0
209998        60   12   30  H24      74.0
209999        60   12   31  H24      78.0

[210000 rows x 5 columns]

In [5]:
#melt df by VXX columns
df_no2_vmelted = no2_df.melt(id_vars=["ESTACION","MES","DIA"], value_vars=v_columns, var_name='V', value_name='VALIDADO')
df_no2_vmelted

        ESTACION  MES  DIA    V VALIDADO
0              4    1    1  V01        V
1              4    1    2  V01        V
2              4    1    3  V01        V
3              4    1    4  V01        V
4              4    1    5  V01        V
...          ...  ...  ...  ...      ...
209995        60   12   27  V24        V
209996        60   12   28  V24        V
209997        60   12   29  V24        V
209998        60   12   30  V24        V
209999        60   12   31  V24        V

[210000 rows x 5 columns]

In [6]:
final_df = pd.concat([df_no2_hmelted, df_no2_vmelted["VALIDADO"]], axis=1)
final_df

        ESTACION  MES  DIA HORA  MEDICION VALIDADO
0              4    1    1  H01      15.0        V
1              4    1    2  H01      13.0        V
2              4    1    3  H01      35.0        V
3              4    1    4  H01      35.0        V
4              4    1    5  H01      24.0        V
...          ...  ...  ...  ...       ...      ...
209995        60   12   27  H24      48.0        V
209996        60   12   28  H24      18.0        V
209997        60   12   29  H24      16.0        V
209998        60   12   30  H24      74.0        V
209999        60   12   31  H24      78.0        V

[210000 rows x 6 columns]

## 4. GUARDAR DATOS
Guardar los datos en formato csv ya que permite leerlo con diferentes programas, incluso con diferentes lenguajes de programación e igualmente se pueden exportar facilmente a Excel.

In [7]:
final_df.to_csv("madrid_contaminacion_2018.csv", sep=";")